
<h4 class="mb-3">Chercheur hautement qualifié</h4>

<form asp-controller="Article" asp-action="SearchByAuthor" class="mb-5">
    <div class="mb-3">
        <label class="form-label"><b>Par auteur</b></label>
        <input name="search" class="form-control" placeholder="Auteur" />
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </div>
</form>

<form asp-controller="Article" asp-action="SearchByDate" class="mb-5">
    <div class="mb-3">
        <label class="form-label"><b>Par date de création</b></label>
        <input name="search" class="form-control" placeholder="Date de création" />
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </div>
</form>

<form asp-controller="Article" asp-action="SearchById" class="mb-5">
    <div class="mb-3">
        <label class="form-label"><b>Par Id</b></label>
        <input name="search" class="form-control" placeholder="Id" />
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </div>
</form>
