@model Article

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wiky de luxe</h1>
</div>

<h3>Dernier article</h3>
<div>
    <partial name="_DetailsArticlePartial" model="@Model"></partial>
</div>




